{% extends 'base.html' %}

{% block content %}
<div class="col-6 mx auto">
  <div class="text-center">
    <img src="https://img.freepik.com/free-vector/apple-colorful-vector-design_341269-1123.jpg"
      class="img-fluid img-responsive" width="400px" , height="400px">
  </div>
  <form method="post">
    {% csrf_token %}
    <div clmass="mb-3">
      <label for="exampleInputEmail1" class="form-label">Enter Name</label>
      <input type="name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Enter Amount</label>
      <input type="number" name="amount" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-success  btn-block">Submit</button>
  </form>
</div>


{% if payment %}
<div class="text-center mx-auto">
  <form action="/success" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js" 
    data-key="rzp_test_0FmUf2hOFOAgiu"
    data-amount="{{ payment.amount }}" 
    data-currency="INR" 
    data-order_id="{{ payment.id }}" 
    data-buttontext="Pay with Razorpay"
    data-name="Acme Corp"
    data-description="Test Transaction" 
    data-image="https://example.com/your_logo" 
    data-prefill.name="Gaurav Kumar"
    data-prefill.email="gaurav.kumar@example.com" 
    data-prefill.contact="9000090000"
    data-theme.color="#3399cc">
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
  </form>
  {% endif %}
</div>

{% endblock %}